@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Serif:300,400,700");
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

html {
  font-size: 62.5%; }

body {
  font-family: 'IBM Plex Serif', serif;
  font-size: 1.6em;
	line-height: 1.6;
  box-sizing: border-box; }

.main {
  height: 100vh;
  background: url(../images/bg/bg1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center; }
  .main .people {
    width: 50%; }
    .main .people .row {
      display: flex; }
      .main .people .row .card {
        height: 30rem;
        width: 30rem;
        border: 0.4rem solid #818181;
        margin-right: .4rem; }
      .main .people .row .person-1 {
        background: url("../images/people/pexels-photo-220453.jpeg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; }
      .main .people .row .person-2 {
        background: url("../images/people/pexels-photo-324658.jpeg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; }
      .main .people .row .person-3 {
        background: url("../images/people/pexels-photo-415829.jpeg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; }
      .main .people .row .person-4 {
        background: url("../images/people/pexels-photo-937481.jpeg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; }
      .main .people .row .person-5 {
        background: url("../images/people/pexels-photo-462680.jpeg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; }
      .main .people .row .person-6 {
        background: url("../images/people/pexels-photo-712521.jpeg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; }
      .main .people .row:first-child {
        margin-bottom: .4rem; }
  .main .contributors {
    width: 30%;
    margin-top: -3rem; }
  .main .idea {
    width: 50%;
    margin-top: 10rem;
    float: left;
   }
  .main .navigation {
    margin-left: 5rem; }
    .main .navigation .page-slider {
      display: flex;
      align-items: center; }
      .main .navigation .page-slider i {
        font-size: 5.2rem;
        color: #adadad; }
        .main .navigation .page-slider i:hover {
          cursor: pointer; }
      .main .navigation .page-slider span {
        font-size: 3.2rem;
        margin: 0 4rem;
        color: #fff; }
    .main .navigation .people-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #adadad;
      margin-top: 1.5rem; }
      .main .navigation .people-list .name {
        font-size: 2.4rem;
        text-transform: uppercase; }
    .main .idea p {
      font-size: 14px;
      color: #fff;
    }
    .main .idea h1 {
      line-height: 70px;
      color: #fff;
      font-size: 32px;
    }
    .main .idea img {
        max-width:95%;
        max-height:95%;
    }
  ul {
    list-style-type: none;
    font-size: 14px;
    margin: 10px;
    padding: 20px;
    color: #fff;
  }
  ul li{
    margin:0 10px 14px 0;
    vertical-align:top
  }
.profile {
  background-color: rgba(129, 129, 129, 0.4);
  width: 50%;
  height: 80%;
  padding: 2rem; }
  .profile .row {
    display: flex;
    position: relative; }
    .profile .row .card {
      height: 30rem;
      width: 30rem;
      margin-right: 0.4rem; }
    .profile .row .person-1 {
      background: url("../images/people/pexels-photo-220453.jpeg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
    .profile .row .info {
      width: 68%;
      margin-left: 2rem; }
      .profile .row .info .title {
        display: flex;
        justify-content: flex-start;
        align-items: baseline; }
        .profile .row .info .title .name {
          font-size: 3rem;
          color: #fff; }
        .profile .row .info .title .age-job {
          font-size: 2.5rem;
          margin-left: 1rem;
          color: #adadad; }
      .profile .row .info .introduction-p1,
      .profile .row .info .introduction-p2 {
        color: #fff;
        font-size: 1.6rem;
        margin-top: 1.5rem;
        font-weight: 300; }
      .profile .row .info .blog {
        text-transform: uppercase;
        margin-top: 1rem;
        display: inline-block;
        font-size: 1.6rem;
        font-weight: 700; }
        .profile .row .info .blog:link, .profile .row .info .blog:visited {
          color: #fff; }
    .profile .row .fa-window-close {
      color: #fff;
      font-size: 2.5rem;
      position: absolute;
      top: -1rem;
      right: -1rem; }
      .profile .row .fa-window-close:hover {
        cursor: pointer; }
  .profile .roadmap {
    margin-top: 1rem; }
    .profile .roadmap .roadmap-header {
      color: #adadad;
      font-size: 2rem; }
      a {
      	text-decoration: none;
      	color: #3498db;
      }
      	a:hover {
      		color: #2980b9;
      	}

      h2 {
      	line-height: 1.2;
      	margin-bottom: 1.6rem;
      }

      .wrapper {
      	max-width: 400px;
      	margin: 50px auto;
      	padding-left: 1em;
      	padding-right: 1em;
      }

      /**
       * Helpers
       */
      .border-tlr-radius {
      	border-top-left-radius: 2px;
      	border-top-right-radius: 2px;
      }

      .text-center { text-align: center; }

      .radius { border-radius: 2px; }

      .padding-tb { padding-top: 1.6rem; padding-bottom: 1.6rem;}

      .shadowDepth0 { box-shadow: 0 1px 3px rgba(0,0,0, 0.12); }

      .shadowDepth1 {
         box-shadow:
        		0 1px 3px rgba(0,0,0, 0.12),
          	0 1px 2px rgba(0,0,0, 0.24);
      }


      /**
       * Card Styles
       */

      .card {
      	background-color: #fff;
      	margin-bottom: 1.6rem;
      }

      .card__padding {
      	padding: 1.6rem;
      }

      .card__image {
      	min-height: 100px;
      	background-color: #eee;
      }
      	.card__image img {
      		width: 100%;
      		max-width: 100%;
      		display: block;
      	}

      .card__content {
      	position: relative;
      }

      /* card meta */
      .card__meta time {
      	font-size: 1.5rem;
      	color: #bbb;
      	margin-left: 0.8rem;
      }

      /* card article */
      .card__article a {
      	text-decoration: none;
      	color: #444;
      	transition: all 0.5s ease;
      }
      	.card__article a:hover {
      		color: #2980b9;
      	}

      /* card action */
      .card__action {
      	overflow: hidden;
      	padding-right: 1.6rem;
      	padding-left: 1.6rem;
      	padding-bottom: 1.6rem;
      }

      .card__author {}

      	.card__author img,
      	.card__author-content {
      		display: inline-block;
      		vertical-align: middle;
      	}

      	.card__author img{
      		border-radius: 50%;
      		margin-right: 0.6em;
      	}

      .card__share {
      	float: right;
      	position: relative;
      	margin-top: -42px;
      }

      .card__social {
      	position: absolute;
      	top: 0;
      	right: 0;
      	visibility: hidden;
      	width: 160px;
      	transform: translateZ(0);
        	transform: translateX(0px);
        	transition: transform 0.35s ease;
      }
      	.card__social--active {
      		visibility: visible;
      		/*z-index: 3;*/
      		transform: translateZ(0);
       		transform: translateX(-48px);
        		transition: transform 0.35s ease;
      	}

      .share-toggle {
      	z-index: 2;
      }
      .share-toggle:before {
      	content: "\f1e0";
      	font-family: 'FontAwesome';
      	color: #3498db;
      }
      	.share-toggle.share-expanded:before {
      		content: "\f00d";
      	}

      .share-icon {
      	display: inline-block;
      	width: 48px;
      	height: 48px;
      	line-height: 48px;
      	text-align: center;
      	border-radius: 50%;
      	background-color: #fff;
      	transition: all 0.3s ease;
      	outline: 0;

      	box-shadow:
      	  		0 2px 4px rgba(0,0,0, 0.12),
      	    	0 2px 4px rgba(0,0,0, 0.24);
      }
      	.share-icon:hover,
      	.share-icon:focus {
      		box-shadow:
      	  		0 3px 6px rgba(0,0,0, 0.12),
      	    	0 3px 6px rgba(0,0,0, 0.24);

      	    -webkit-transform: scale(1.2);
      	    -moz-transform: scale(1.2);
      	    -ms-transform: scale(1.2);
      	    -o-transform: scale(1.2);
      	    transform: scale(1.2);
      	}

      .facebook {
      	background-color: #3b5998;
      }
      .twitter {
      	background-color: #00abe3;
      }
      .googleplus {
      	background-color: #d3492c;
      }

      .facebook,
      .twitter,
      .googleplus {
      	color: #fff;
      }

      	.facebook:hover,
      	.twitter:hover,
      	.googleplus:hover {
      		color: #eee;
      	}
        $overlay_opacity: 0.3; // 0-1
        $overlay_pattern: 'https://d3k5xyayaartr5.cloudfront.net/_assets/pattern-overlays/patterns/black-medium-checks.png'; // Grab the url of a png from here - http://html5backgroundvideos.com/pattern-overlays/


        /**
         * This part should be set separately for each video
         * if there are multiple videos in your site.
         * I.e. '.demo-video-wrapper' is the name of this particular video
         */
        .demo-video-wrapper {
        	background-image: url(videos/Hill.jpg);
        }

        /* Video overlay and content */
        .video-overlay {
        	position: absolute;
        	top: 0;
        	left: 0;
        	bottom: 0;
        	right: 0;
        	pointer-events: none; /* Allows right click menu on the video */
        	background: url($overlay_pattern) left top repeat;
          opacity: $overlay_opacity;
        }
        .video-hero--content {
        	position: relative;
        	text-align: center;
        	color: #FFF;
          margin: 150px 0;
        	text-shadow: 0 0 5px rgba(0,0,0,0.4);
        }
        .video-hero--content h2 {
        	font-size: 34px;
        	margin: 0 0 10px;
        }
        .video-hero--content p {
        	font-size: 20px;
        	margin: 0;
        }

        /* Other stuff */
        body {
        	font-family: 'IBM Plex Serif', serif;
        	font-size: 16px;
        	line-height: 1.6;
        	color: #666;
        }
        a {
        	text-decoration: none;
        	color: #a46497;
        }
        .cf:before,
        .cf:after {
            content: " ";
            display: table;
        }
        .cf:after {
            clear: both;
        }
        .page-width {
        	width: 92%;
        	max-width: 960px;
        	margin: 0 auto;
        }
        #header {
        	background: #2c2d33;
        	padding: 2em 0;
        }
        #header a {
        	color: #FFF;
        }
        .title {
        	display: block;
        	font-weight: bold;
        	font-size: 18px;
        }
        .subtitle {
        	display: block;
        	font-weight: normal;
        	font-size: 15px;
        	color: #959699;
        }
        a:hover .subtitle {
        	color: #FFF;
        }
        #site-title {
        	float: left;
        	margin: 0;
        }
        #content {
        	padding: 40px 0;
        }
.jquery-background-video-wrapper {
        	position: relative;
        	overflow: hidden;
        	background-position: center center;
        	background-repeat: no-repeat;
        	-webkit-background-size: cover;
        	   -moz-background-size: cover;
        	    	background-size: cover;
        }
.jquery-background-video {
        	position: absolute;
        	min-width: 100%;
        	min-height: 100%;
        	width: auto;
        	height: auto;
        	top: 50%;
        	left: 50%;
        	-o-object-fit: contain;
        	   object-fit: contain;
        	-webkit-transform: translate(-50%,-50%);
        	   -moz-transform: translate(-50%,-50%);
        	    -ms-transform: translate(-50%,-50%);
        	     -o-transform: translate(-50%,-50%);
        	    	transform: translate(-50%,-50%);
        }
        /**
         * Fade in videos
         * Note the .js class - so non js users still
         * see the video
         */
.js .jquery-background-video {
        	opacity: 0;
        	-webkit-transition: opacity 300ms linear;
        			transition: opacity 300ms linear;
        }
.js .jquery-background-video.is-visible {
        	opacity: 1;
        }

        /**
         * Pause/play button
         */
.jquery-background-video-pauseplay {
        	position: absolute;
        	background: transparent;
        	border: none;
        	box-shadow: none;
        	width: 20px;
        	height: 20px;
        	top: 15px;
        	right: 15px;
        	padding: 0;
        	cursor: pointer;
        	outline: none !important;
        }
.jquery-background-video-pauseplay span {
        	display: none;
        }
.jquery-background-video-pauseplay:after,
.jquery-background-video-pauseplay:before {
        	content: "";
        	position: absolute;
        	left: 0;
        	top: 0;
        	-webkit-transition: all .3s ease;
        			transition: all .3s ease;
        }
.jquery-background-video-pauseplay.play:before {
        	border-top: 10px solid transparent;
        	border-bottom: 10px solid transparent;
        	border-left: 15px solid #FFF;
        }
.jquery-background-video-pauseplay.pause:before,
.jquery-background-video-pauseplay.pause:after {
        	border-top: 10px solid #FFF;
        	border-bottom: 10px solid #FFF;
        	border-left: 5px solid #FFF;
        }
.jquery-background-video-pauseplay.pause:after {
        	left: 10px;
        }
